@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  width: 375px;
  background-color: blueviolet;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  cursor: pointer;
}

a {
  height: 16px;
  width: 81px;
  left: 12px;
  top: 10px;
  border-radius: nullpx;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
