@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  width: 375px;
  background-color: blueviolet;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  cursor: pointer;
}

a {
  height: 16px;
  width: 81px;
  left: 12px;
  top: 10px;
  border-radius: nullpx;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.profile-container {
  height: 154px;
  width: 327px;
  left: 24px;
  top: 120px;
  border-radius: 0;
}

.profile-container h1 {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: #7D73FC;

}

.profile-container h2 {
  font-family: Roboto, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 44px;
letter-spacing: 0em;
text-align: center;
color: #EDECFF;

}